/******************** Header *********************/

header {
    background: #eee;
    height: 55px;
}

.Menu {
    display: flex;
}

.Menu-branch {
    align-items: center;
    background: #e11b1e;
    display: flex;
    flex-grow: 1;
    height: 55px;
    padding-right: 10px;
}

.Menu-branch__logo {
    width: 55px;
}

.Menu-branch__logo img {
    object-fit: cover;
}

.Menu-branch-search {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex-grow: 1;
    height: 35px;
    justify-content: center;
    overflow: hidden;/*Cai nao ngoai thang cha se bi an*/
}

.Menu-branch-search-location {
    align-items: center;
    background: #ccc;
    display: flex;
    font-size: 13px;
    height: 100%;
    justify-content: center;
    width: 100px;
}

.Menu-branch-search-input {
    flex-grow: 1;
    height: 100%;
   
}

.Menu-branch-search-input input {
    font-size: 16px;
    height: 100%;
    padding: 0 5px;
    width: 100%;
}

.Menu-branch-search-btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 100%;
    justify-content: center;
    width: 35px;
}

.Menu-list {
    display: flex;
}


.Menu-list-item {
    align-items: center;
    display: flex;
    position: relative;
    text-align: center;
    
}

.Menu-list-item-content {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 3px;
}

.Menu-list-item-content:hover {
    background: #e11b1e;
    color: #fff;
}

.Menu-list-item-content__txt {
    font-size: 12px;
    margin-top: 3px;
}

.Menu-list-item-sub {
    bottom: 0;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    position: absolute;
    transform: translate(0, 100%);

}

.Menu-list-item:hover .Menu-list-item-sub { /*Phải có dấu cách*/
    display: block ;
}

.Menu-list-item-sub-list {
    display: flex; 
    flex-wrap: wrap;
    width: 320px;
}

.Menu-list-item-sub-item {
    padding: 5px 10px;
    text-align: left;
    width: 50%;
}

.Menu-list-item-sub-item__txt {
    color: #555;
    white-space: nowrap;
}

.Menu-list-item-sub-item__txt:hover {
    color: #e11b1e;
    text-decoration: underline;
    opacity: 1;
}

